@import "flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.scroll-small::-webkit-scrollbar {

    width: 1px; /* Lebar scrollbar */
    height: 2px; /* Jika ingin scrollbar horizontal, set lebar untuk height */
}

.scroll-small::-webkit-scrollbar-thumb {
    background-color: #888; /* Warna dari scroll thumb */
    border-radius: 10px; /* Membuat ujung scrollbar lebih membulat */
}

.scroll-small::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Warna saat hover */
}

.scroll-small::-webkit-scrollbar-track {
    background: #f1f1f1; /* Warna latar belakang track */
    border-radius: 10px;
    margin-top: 10px;
}
